@font-face {
    font-family: Highrace_B;
    src: url(fonts/HighriseDemo\ Bold\ 700.otf);
}
div{
    width: 40vh;
    height: 80vh;
    text-align:center;
    /* position: relative; */
    font-family:Highrace_B ;
    font-size: 60px;
    color: white;
}
p{
    width: 40vh;
    height: 80vh;
    padding-top: 70vh;
    position: absolute;
    bottom: 100px;
    box-sizing: border-box;
}
#save-btn{
    background-color: #298fba;
    border: none;   
    border-radius: 10px;
    font-size: 35px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-family: Highrace_B;
    letter-spacing: 3px;
    margin-top: 50px;
    visibility: hidden;
}