@font-face {
    font-family: Highrace_B;
    src: url(fonts/HighriseDemo\ Bold\ 700.otf);
}
div{
    width: 20vh;
    height: 40vh;
    text-align:center;
    position: relative;
    font-family:Highrace_B ;
    font-size: 60px;
    color: white;
}
#container4{
    background-color: #37e095;
    text-align: center;
    
}
#container3{
    background-color: #85c1a6;
}
#container2{
    background-color: #5d9cb6
}
#container1{
    background-color: #b7650d;
}